.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

#root {
    display: flex;
    justify-content: center;
}